:host {
  display: flex;
  width: 34px;
  min-width: 34px;
  height: 34px;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  transition: calc(var(--tran) * 0.5);
  border-radius: var(--corner);
  background-color: var(--remove-0);
  border: 1px solid var(--remove-0);
  pointer-events: none;
  opacity: 0.4;



  svg {
    fill: var(--remove-1);
  }


  &.visible {
    pointer-events: all;
    border: 1px solid var(--remove-1);
    opacity: 1;

    svg {
      fill: var(--text-000);
    }

    &:hover {
      opacity: var(--opacity-h);
    }
  }
}
